@page "/"

<PageTitle>Index</PageTitle>

<h1>Arquive-Se</h1>

<AuthorizeView>
    <NotAuthorized>
        <div class="alert alert-primary" role="alert">
            Para ter acesso às funcionalidades é necessário efetuar login! <strong>Clique em "Entrar" no canto superior esquerdo</strong>
        </div>
    </NotAuthorized>
</AuthorizeView>
