@page "/master-list"
@attribute [Authorize]

<PageTitle>Lista Mestra</PageTitle>

@using ArquiveSe.App.Models.Responses;
@using ArquiveSe.App.Services.Abstractions
@inject IArquiveSeApiService ArquiveSeService

<h1>Lista Mestra</h1>

@if (!_masterList.Items.Any())
{
    <h2><i>Carregando...</i></h2>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Tipo</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var document in _masterList.Items)
            {
                <tr>
                    <td>@document.Name</td>
                    <td>@document.Type.ToUpper()</td>
                    <td>@document.Status</td>
                    <td><NavLink class="btn btn-primary" role="button" href="@GetDocumentDetailLink(document)">Ver detalhes</NavLink></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private GetMasterListResponse _masterList = new();

    protected override async Task OnInitializedAsync()
    {
        _masterList = await ArquiveSeService.GetMasterList();
    }

    private string GetDocumentDetailLink(GetDocumentByIdResponse document) => $"document-detail/{document.Id}";
}
