@page "/createaccount";
@using ArquiveSe.UI.Abstractions
@using ArquiveSe.UI.Clients.ArquiveSeApi.Models.Requests
@using ArquiveSe.UI.Shared.Authorization
@using Microsoft.AspNetCore.Authorization
@using System.Security.Claims
@using System.Text
@attribute [Authorize]
@inject IArquiveSeApi ArquiveSeApi;
@inject NavigationManager NavigationManager;
@inject IHttpContextAccessor HttpContextAccessor;

<h2>Validando sua conta</h2>
<div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
</div>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> _authenticationStateTask { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authenticationState = await _authenticationStateTask;

        var userId = authenticationState.User.GetUserId();
        var createAccountResponse = await ArquiveSeApi.CreateAccountAsync(new CreateAccountRequest { UserId = userId });
        HttpContextAccessor?.HttpContext?.Response.Cookies.Append(userId.GetAccountIdCookieKey(), createAccountResponse.GetContent().AccountId);

        NavigationManager.NavigateTo("/");
    }
}
