@page "/"
@attribute [Authorize]
@inject NavigationManager NavigationManager;
@inject IHttpContextAccessor HttpContextAccessor;

<PageTitle>Index</PageTitle>

@using ArquiveSe.UI.Shared.Authorization
@using System.Security.Claims

<h1>Hello, world!</h1>

Welcome to your new app.

@code {
    [CascadingParameter]
    private Task<AuthenticationState> _authenticationStateTask { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var user = (await _authenticationStateTask).User;
        RedirectUserWithoutAccount(user);
    }

    private void RedirectUserWithoutAccount(ClaimsPrincipal user)
    {
        var userId = user.GetUserId();
        var accountId = HttpContextAccessor?.GetAccountId(userId) ?? string.Empty;

        if (string.IsNullOrEmpty(accountId))
        {
            NavigationManager.NavigateTo("/createaccount", true);
        }        
    }
}