@page "/"
@attribute [Authorize]
@inject NavigationManager NavigationManager;

<PageTitle>Index</PageTitle>

@using ArquiveSe.UI.Authorization

<h1>Hello, world!</h1>

Welcome to your new app.

@code {
    [CascadingParameter]
    private Task<AuthenticationState> _authenticationStateTask { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var user = (await _authenticationStateTask).User;
        RedirectUserWithoutAccount.Validate(user, NavigationManager);
    }
}