<AuthorizeView>
    <Authorized>
        <a class="btn btn-primary" href="logout">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a class="btn btn-primary" href="login?redirectUri=/">Log in</a>
    </NotAuthorized>
</AuthorizeView>