<AuthorizeView>
    <Authorized>
        <a href="logout">Sair</a>
    </Authorized>
    <NotAuthorized>
        <a href="login?redirectUri=https://localhost:7147/master-list">Entrar</a>
    </NotAuthorized>
</AuthorizeView>

@code {

}
